@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<script>
    function fileValidation() {
        var fileInput =
            document.getElementById('myFile');

        var filePath = fileInput.value;

        var allowedExtensions =/(\.csv)$/i;

        if (!allowedExtensions.exec(filePath)) {
            alert('Invalid file type');
            fileInput.value = '';
            return false;
        }
    }
</script>
<div class="text-center">
    <h4>Upload .CSV file:</h4>

    <form name="myForm" action="/action_page.php" onsubmit="return fileValidation()" method="post" required>
        <input type="file" id="myFile" name="filename">
        <input type="submit">
    </form>
</div>
