h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


